<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.js"></script>
</head>

<body ng-app="ex74" ng-controller="ctrl74">
    <input type="number" ng-model="inicio" placeholder="Inicio"><p></p>
    <input type="number" ng-model="fim" placeholder="Fim"><p></p>
    <input type="number" ng-model="multiplo" placeholder="Multiplo de 10"><p></p>

    <div ng-bind-html="saida(multiplo, inicio, fim)"></div>
</body>

</html>
<script>
    var app = angular.module('ex74', ['ngSanitize']);
    app.controller("ctrl74", function ($scope, $sce) {
        $scope.saida = function (multiplo, inicio, fim) {
            let result = "";
            for (i = inicio; i <= fim; i++) {
                if (i % multiplo == 0) {
                    result += "<p>" + i + " Multiplo de " + multiplo + "</p>";
                } else {
                    result += "<p>" + i + "</p>"
                }
            }
            return $sce.trustAsHtml(result)
        }
    })
</script> 
